<div class="kt-portlet__head-toolbar">
    <div class="kt-portlet__head-wrapper">
        <div class="kt-portlet__head-actions">
            <a href="@Url.Action("Create")" class="btn btn-brand btn-elevate btn-icon-sm">
                <i class="la la-plus"></i>
                Add New
            </a>
        </div>
    </div>
</div>