<div class="kt-form__actions">
    <div class="row" style="margin-bottom: 40px;">
        <div class="col-md-4 offset-md-8">
            <input type="submit" value="Save" class="btn btn-brand btn-bold btn-widest" />
            @*<div class="btn-group">
                <button type="submit" class="btn btn-brand btn-bold btn-widest">
                    Submit
                </button>
                <button type="button" class="btn btn-brand btn-bold dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu dropdown-menu-right">
                    <ul class="kt-nav">
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-writing"></i>
                                <span class="kt-nav__link-text">Save &amp; continue</span>
                            </a>
                        </li>
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-medical-records"></i>
                                <span class="kt-nav__link-text">Save &amp; add new</span>
                            </a>
                        </li>
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-hourglass-1"></i>
                                <span class="kt-nav__link-text">Save &amp; exit</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>*@
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary btn-wide" })
        </div>
    </div>
</div>