@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h3 class="text-danger">Your account has been locked out.</h3>
    <h5 class="text-danger">please contact your site administrator</h5>
</hgroup>
